Repository camidvorkin/frux-app-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

isort:
  name: isort
  entry: poetry run isort
  language: system
  stages:
  - commit

black:
  name: black
  entry: poetry run black
  language: system
  stages:
  - commit
  args:
  - --skip-string-normalization

flake8:
  name: flake8
  entry: poetry run flake8
  language: system
  stages:
  - commit
  args:
  - --max-line-length=88

mypy:
  name: mypy
  entry: poetry run mypy
  language: system
  stages:
  - commit

pylint:
  name: pylint
  entry: poetry run pylint
  language: system
  stages:
  - commit
  args:
  - --load-plugins
  - pylint_flask_sqlalchemy

behave:
  name: behave
  language: system
  entry: poetry run nox --session tests
  stages:
  - push
  pass_filenames: false

linter:
  name: linter
  language: system
  entry: poetry run nox --session cop
  stages:
  - push
  pass_filenames: false

bandit:
  name: bandit
  language: system
  entry: poetry run nox --session bandit
  stages:
  - push
  pass_filenames: false

pyreverse:
  name: pyreverse
  language: system
  entry: poetry run nox --session pyreverse
  stages:
  - push
  pass_filenames: false

cov-badge:
  name: cov-badge
  language: system
  entry: poetry run coverage-badge -o coverage-badge -f
  stages:
  - push
  pass_filenames: false

Change mutations so they return their corresponding types without specifying it
  coverage-badge.svg
  features/steps/commons.py
  features/steps/hashtags.py
  features/steps/projects.py
  features/steps/users.py
  frux_app_server/graphqlschema/filters.py
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add total invested money per project
  features/projects.feature
  features/steps/commons.py
  features/steps/projects.py
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/migrations/versions/fb527e57cffd_add_back_project.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Coverage badge
  coverage-badge.svg
Due: none

Remove old test
  features/projects.feature
Due: none

Add update user and update project tests
  features/projects.feature
  features/steps/commons.py
  features/steps/projects.py
  features/steps/users.py
  features/users.feature
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add image and location information to user
  features/steps/hashtags.py
  features/steps/projects.py
  features/steps/users.py
  features/users.feature
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/c4fa1e8f4049_add_user_new_information.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Allow updates in new user information
  features/steps/users.py
  features/users.feature
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Validations
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/utils.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Coverage-bage
  coverage-badge.svg
Due: none

Add categories as model, seeds database, refactor project mutation
  features/categories.feature
  features/projects.feature
  features/steps/categories.py
  features/steps/commons.py
  features/steps/projects.py
  frux_app_server/graphqlschema/constants.py
  frux_app_server/graphqlschema/filters.py
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/graphqlschema/query.py
  frux_app_server/migrations/versions/5bbe78b231dd_remove_category_type_from_project.py
  frux_app_server/migrations/versions/ec0ab2755014_add_category_as_a_table.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Fix migration downgrade
  frux_app_server/migrations/versions/5bbe78b231dd_remove_category_type_from_project.py
Due: behave, linter, bandit, pyreverse, cov-badge

Migration merge from user-new-information and categories-model
  coverage-badge.svg
  frux_app_server/migrations/versions/5bbe78b231dd_remove_category_type_from_project.py
Due: behave, linter, bandit, pyreverse, cov-badge

Modify default categories
  frux_app_server/migrations/versions/ec0ab2755014_add_category_as_a_table.py
Due: behave, linter, bandit, pyreverse, cov-badge

Fix amoutCollected
  coverage-badge.svg
  frux_app_server/graphqlschema/object.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Model with association table
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

New available information about user
  features/steps/commons.py
  features/steps/users.py
  features/users.feature
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/13a6548472e0_new_user_info.py
  frux_app_server/migrations/versions/ba092d7b6130_user_info.py
  frux_app_server/migrations/versions/fafd0937860d_new_user_information.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Horrible cod badge
  coverage-badge.svg
Due: none

nit
  features/steps/commons.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Hashtag and project association
  features/hashtags.feature
  features/steps/hashtags.py
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/27097915a706_hashtag_association.py
  frux_app_server/migrations/versions/52d4d545351c_hashtag_association_project.py
  frux_app_server/migrations/versions/84f4461c7cfa_hashtag_association_project.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

cov-badge
  coverage-badge.svg
Due: none

Deletes migration version
  coverage-badge.svg
  frux_app_server/migrations/versions/13a6548472e0_new_user_info.py
  frux_app_server/migrations/versions/ba092d7b6130_user_info.py
Due: behave, linter, bandit, pyreverse, cov-badge

Add resolvers for isSeeder and isSponsor
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/migrations/versions/7c2ec82f8a53_remove_isseeder_and_issponsor_from_user_.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add total page count, investor count, rename creator to createdProjects
  coverage-badge.svg
  frux_app_server/graphqlschema/object.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Fix isSeer in updateUser mutation
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Fix hashtag migrations
  coverage-badge.svg
  frux_app_server/migrations/versions/27097915a706_hashtag_association.py
  frux_app_server/migrations/versions/52d4d545351c_hashtag_association_project.py
  frux_app_server/migrations/versions/84f4461c7cfa_hashtag_association_project.py
Due: behave, linter, bandit, pyreverse, cov-badge

Categories for user
  coverage-badge.svg
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/24f1df018932_category_association_user.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Fix caterogy_association migration
  coverage-badge.svg
  frux_app_server/migrations/versions/24f1df018932_category_association_user.py
Due: behave, linter, bandit, pyreverse, cov-badge

likes
  coverage-badge.svg
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/migrations/versions/299e2bc265af_favorites.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Remove stage and state from project mutations
  coverage-badge.svg
  features/projects.feature
  features/steps/projects.py
  frux_app_server/graphqlschema/constants.py
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/d8682cade7c3_add_proper_stage_and_state_to_project.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

mutations and queries
  coverage-badge.svg
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/migrations/versions/0621a5877cd7_project_stages.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

mutations and queries
  coverage-badge.svg
Due: none

User interests tests, fixes
  coverage-badge.svg
  features/steps/users.py
  features/users.feature
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

User interests tests, fixes
  features/steps/users.py
  features/users.feature
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Hashtags and update project mutation tests, fixes
  coverage-badge.svg
  features/hashtags.feature
  features/steps/hashtags.py
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add initial code for user wallet
  coverage-badge.svg
  frux_app_server/graphqlschema/mutation.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/migrations/versions/e591bdcc4de6_add_wallet_to_user.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add LICENCE and README
  LICENSE
  README.md
  docs/logo.png
Due: none

Allow user interest to change
  frux_app_server/graphqlschema/mutation.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

add some new filters
  coverage-badge.svg
  frux_app_server/graphqlschema/filters.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Add hashtag and current state filter
  frux_app_server/graphqlschema/filters.py
  frux_app_server/graphqlschema/object.py
  frux_app_server/migrations/versions/c15fb0ef6098_hashtag_association_to_class.py
  frux_app_server/models.py
Due: isort, black, flake8, mypy, pylint, behave, linter, bandit, pyreverse, cov-badge

Path conditions:
  isort: any of: \.py$, but not: frux_app_server/migrations|docs
  black: any of: \.py$, but not: frux_app_server/migrations|docs
  flake8: any of: \.py$, but not: frux_app_server/migrations|docs
  mypy: any of: \.py$, but not: frux_app_server/migrations|docs
  pylint: any of: \.py$, but not: frux_app_server/migrations|docs
  behave: any of: \.py$
  linter: any of: \.py$
  bandit: any of: \.py$
  pyreverse: any of: \.py$
  cov-badge: any of: \.py$
